[Unit]
Description=Gitea Actions runner
Documentation=https://gitea.com/gitea/act_runner

[Service]
ExecStart=/usr/bin/act_runner daemon
ExecReload=/bin/kill -s HUP $MAINPID
WorkingDirectory=/home/ansible
TimeoutSec=0
RestartSec=10
Restart=always

[Install]
WantedBy=multi-user.target
